<div class="navbar navbar-expand-md navbar-light fixed">
    <div class="container-fluid custom-container">
        <!-- Toggle Botton for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo -->
        <a href="/home">
            <img src="assets/images/logo.png" alt="" class="logo">
        </a>

        <!-- Searchbar -->
        <app-searchbar></app-searchbar>

        <!-- Sign Out -->
        <div>
            <button class="btn bi-box-arrow-right btn-sign-out" (click)="signOut()"></button>
        </div>
    </div>
</div>

